# The Battle of Neighborhoods W1

## Introduction

There are many people who are working in various cities (say New York and Toronto) across the world. Let's say a person got a job offer from a great company with great career prospects in other city or other borough of his/her current city. If person accept the job offer then he/she has to shift to new location. I think a person would love to shift a location which is exactly or almost similar to his/her last location because he/she loves the great amenities and other types of venues that exist in his/her current neighbourhood like school, gym, swimming pool, Amusement park, restaurants, coffee-shops, spencer etc. So Iâ€™ll find out what are borough-neighbourhoods are very similar to give current location. A person can shift within the city or from one city to another city. If person is shifting within the city then he/she must be changing the borough and my task would be finding neighbourhoods in that borough which are very similar to his/her last location. If a person is shifting from one city to another city then my task would be finding the similar neighbourhoods.

## Problem

This project is to find similarity between people who live in New York and Toronto.

## Data Requirements

To tackle the above mentioned problem, we need to have the dataset that contains

+ All the districts of a particular country
+ Latitude and longitudes of all the districts

### General Descriptions of the Dataset

In [3]:
import json, requests
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe
from geopy.geocoders import Nominatim
import folium 
# Matplotlib and associated plotting modules
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import matplotlib.colors as colors
from matplotlib_venn import venn2
from bs4 import BeautifulSoup
from sklearn.cluster import KMeans

with open('new_york.json') as f:
    ny_json = json.load(f)

# relevant information is in 'features' key
ny_json = ny_json['features']
ny_json[0]

{'type': 'Feature',
 'id': 'nyu_2451_34572.1',
 'geometry': {'type': 'Point',
  'coordinates': [-73.84720052054902, 40.89470517661]},
 'geometry_name': 'geom',
 'properties': {'name': 'Wakefield',
  'stacked': 1,
  'annoline1': 'Wakefield',
  'annoline2': None,
  'annoline3': None,
  'annoangle': 0.0,
  'borough': 'Bronx',
  'bbox': [-73.84720052054902,
   40.89470517661,
   -73.84720052054902,
   40.89470517661]}}

In [4]:
#create empty dataframe
cols = ['Borough','Neighbourhood','Latitude','Longitude']

ny_df = pd.DataFrame(columns=cols)

for data in ny_json :
    borough = data['properties']['borough']
    neighbourhood = data['properties']['name']
    location = data['geometry']['coordinates']
    
    lon, lat = location[0],location[1]
    
    ny_df = ny_df.append({'Borough' : borough, 'Neighbourhood' : neighbourhood,
                          'Latitude' : lat,'Longitude':lon}, 
                         ignore_index=True)
    
ny_df.head()

  Borough Neighbourhood   Latitude  Longitude
0   Bronx     Wakefield  40.894705 -73.847201
1   Bronx    Co-op City  40.874294 -73.829939
2   Bronx   Eastchester  40.887556 -73.827806
3   Bronx     Fieldston  40.895437 -73.905643
4   Bronx     Riverdale  40.890834 -73.912585